/ Main hero unit for a primary marketing message or call to action
.hero-unit
  %h1 Haz tu tweet
  %p Whatever...
.row
  .span12
    = link_to 'Ir a hacer un tweet', tweets_path
%hr/
%footer
  %p © Company 2013
